wheel==0.38.4
numpy==1.19.5
matplotlib==3.3.4
pandas==1.1.5
ExifRead==2.3.1
gpsphoto==2.2.3
imageio==2.9.0
networkx==2.5
opencv-python==3.4.2.17
opencv-contrib-python==3.4.2.17
piexif==1.1.3
Pillow==8.3.2
pytz==2020.1
PyWavelets==1.1.1
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
tifffile==2020.9.3
tqdm==4.50.2
detecto==1.2.1
open3d==0.11.2
utm==0.6.0
tensorflow==2.6.0
keras==2.6.0
seaborn==0.12.1
cmake==3.25.0
pybind11==2.10.1
euchar==0.1.6
